@charset "UTF-8";

body {
    /*background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /* 
    Shorthand background
    
    1 - color
    2 - image
    3 - position
    4 - repeat
    5 - size** (na prática não funciona, colocar por após a shorthand)
    6 - attachment
    
    */
    height: 100vh;
    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}